---
// Import global styles
import "../styles/global.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <script type="module">
            import.meta.env.VITE_APP_VERSION; // ensure env is loaded
        </script>
    </head>
    <body class="bg-gray-50 min-h-screen flex flex-col justify-between">
        <slot />
    </body>
</html>
